/* 
* A SORCER Provider Jini configuration for the Artimetic Provider example.
* by Mike Sobolewski, sobol@cs.ttu.edu
*/
import net.jini.jrmp.*;
import net.jini.jeri.*;
import net.jini.jeri.tcp.*;
import sorcer.core.*;
import net.jini.core.entry.Entry;
import net.jini.lookup.entry.*;
import sorcer.jacek.provider.*;
import sorcer.jacek.provider.ui.*;
import sorcer.jacek.provider.ui.mvc.*;

sorcer.core.provider.ServiceProvider {
		properties = "..${/}configs${/}prv1.properties";
		name="Jacek1";
		publishedInterfaces = new Class[] { sorcer.jacek.provider.Jacek.class, sorcer.jacek.provider.ServiceJacek.class };
		description = "Example of a SORCER JERI provider";
		location = "SORCER Lab 20B - CS TTU";
		entries = new Entry[] { 
			JacekUI.getUIDescriptor(),
			JacekView.getUIDescriptor(),
			new Comment("TTU teaching example"), 
			new Location("3", "310", "CP TTU") };
        // if not declared the default exporter is BasicJeriExporter
        //exporter = new JrmpExporter(0);
        exporter = new BasicJeriExporter(TcpServerEndpoint.getInstance(0), new BasicILFactory());
        iconName="sorcer.jpg";
}
	

